/node_modules
/vendor

.env
.env.backup
.env.production
/auth.json
storage/*.key
Homestead.json
Homestead.yaml

/public/build
/public/hot
/public/storage
/storage/pail
*.log
.phpunit.result.cache

docker-compose.yml
Dockerfile
docker/nginx/default.conf

.DS_Store
Thumbs.db
.phpactor.json
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
